[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl
[submodule "lv_examples"]
	path = lv_examples
	url = https://github.com/lvgl/lv_examples
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/HX2003/lv_drivers
